{% extends "base.html" %}

{% block body %}
  <div class="jumbotron center" style="text-align: center">
  <div class="logo center-block"></div>
  <h1>Welcome to UDSM-ARS</h1> <p><span class="glyphicon glyphicon-stats"></span></p>      
  <p>A web based audience response system design for tutor-students interaction in classes/lectures.</p>
</div>

    <a href="/tutor/" class="btn btn-primary btn-lg btn-block">Enter Tutor area</a>
<p>
   <div class="container">
  <div class="well" style="text-align: center">For student(audience),Please go to response URL provided by Tutor(Presenter)</div>
 </div></p>
 <div class="footer card-block" style=" text-align:center; position: fixed;
    bottom: 0;width: 100%;">Developed by <a href=""> Ronald Malley © 2016</a></div>
{% endblock %}